html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
}

/* hide radio buttons */

input[name="star2"] {
  display: inline-block;
  width: 22px;
  opacity: 0;
  margin: 0px;
  z-index: 300;
}

.stars-lg {
  background-image: url("http://i36.photobucket.com/albums/e22/lilsq3/stars_lg.gif");
  background-repeat: no-repeat;
  height: 18px;
  width: 102px;
  position: fixed;
}

.stars-lg-0 {
  background-position: 0 0;
  z-index: 50;
}
.stars-lg-1 {
  background-position: 0 -45px;
  z-index: 45;
}

.one:checked ~ div.stars-lg-1 {
  z-index: 200;
}

.stars-lg-2 {
  background-position: 0 -89px;
  z-index: 40;
}

.two:checked ~ div.stars-lg-2 {
  z-index: 200;
}

.stars-lg-3 {
  background-position: 0 -134px;
  z-index: 35;
}

.three:checked ~ div.stars-lg-3 {
  z-index: 200;
}

.stars-lg-4 {
  background-position: 0 -178px;
  z-index: 30;
}

.four:checked ~ div.stars-lg-4 {
  z-index: 200;
}

.stars-lg-5 {
  background-position: 0 -222px;
  z-index: 25;
}

.five:checked ~ div.stars-lg-5 {
  z-index: 200;
}
