html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  border: none;
  padding: 0;
}
.nav-bar {
  width: auto;
  border: 1px solid black;
  text-align: center;
}

.main-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
article {
  width: 40%;
  border: 1px solid green;
  margin: 0;
  height: 40vw;
}

aside {
  width: 20%;
  border: 1px solid blue;
  height: 40vw;
}

footer {
  background-color: bisque;
  text-align: center;
  height: 200px;
}
